.skills-info{
    padding-right: 1rem;
}
.skills-info-card{
    min-height: 23rem;
    border-radius: 0.65rem;
    border: 1.5px solid #e6b7c6;
    background: 252734;
    backdrop-filter: blur(1rem);
}
.skills-info-card h1{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.8rem 2rem;
    background: linear-gradient(180deg, #ffffff 30%, #aa6e5f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid  #e6b7c6;
}

/* #ff004f  ROJO ROSADO*/
/* #262626  NEGRO NAV BAR*/
/* #252734  NEGRO PURPURA FONDO*/
.skills-info-content{
    padding: 2rem;
}
.skill-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill-info p{
    font-size: 1rem;
    font-weight: 550;
}
.skill-info .percentage{
    color: #b43d1c ;
}
.skill-progress-bg{
    width: 100%;
    height: 0.7rem;
    background:#e8d9ca54;
    border-radius: 0.5rem;
    margin: 1rem 0;
    overflow: hidden;
    /* border: 1px dashed #ff004f; */
    /* dotted
    dashed */

}
.skill-progress{
    width: 0%;
    height: 0.7rem;
    background: linear-gradient(90deg, #e8d9ca54 -50%, #f0e8e0 50%);
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 1025px){
    .skills-info-card h1{
        font-size: 1.1rem;
    }
    .skill-info p {
        font-size: 0.9rem;
    }
    .skills-info-content{
        padding: 1.5rem;
    }
}